@model IEnumerable<Sample_PJ_Core.Models.Editdata.Tantousha>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.cTANTOUSHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sTANTOUSHA)
        </th>*@
            <th>担当者</th>
            <th>担当者名</th>
            <th>部門</th>
            <th>変更</th>
            <th>変更者</th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cTANTOUSHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sTANTOUSHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cBUMON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dHENKOU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHENKOUSYA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.cTANTOUSHA }) |
                @Html.ActionLink("Details", "Details", new { id=item.cTANTOUSHA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cTANTOUSHA })
            </td>
        </tr>
}
    </tbody>
</table>
